@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caprasimo&display=swap');
div.footerbar_wrapper {
  background-color: none;
  position: relative;
  width:50%;
}

ul.footerbar {
    position: absolute;
    bottom: 3%;
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:none;
    width:100%;
  }

ul.footerbar li {
    float: right;
    margin-right:50px;
}
 

ul.footerbar li a {
    display: block;
    padding: 14px 16px;
    transition: filter 200ms;
}

ul.footerbar li a:hover {
    filter: brightness(.5);
}
