/* #000814
#001D3D
#003566
  #FFC300
  #FFD60A */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caprasimo&display=swap');

:root {
  --bg-color: hsl(43, 100%, 95%);
}

div.greeting {
  position: absolute;
  top: 50%;
  left: 2%;
  display: flex;
  justify-content: space-evenly;
  overflow-wrap: break-word;
}

h1.greeting_1 {
  font-family: 'Abril Fatface', cursive; 
  font-size: 40pt;
  margin:0;
  padding: 0;
}

$section-height: 100vh; 

section {
  border-bottom: 2px solid black;
}

.section1 {
  background-color: var(--bg-color);
  height: $section-height;
}

.about_paragraph {
  margin-top: 90px;
  margin-left: 20px;
  padding: 10px;
  width:500px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

$section2-color: #D72523;
$section3-color:  #7209b7;
.section2 {
  $hue: hue($section2-color);
  $sat: saturation($section2-color);
  $lit: lightness($section2-color);
  background: linear-gradient(180deg, $section2-color 0%, $section2-color 10%, hsl($hue, .8*$sat, $lit) 80%);
  height: 115vh;
}

/*https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0*/
/* (purple section) */
/* section 3 color pallete */
.section3 {
  height: 115vh;
  background-color: #7209b7;
  background: linear-gradient(180deg, #7209b7 0%, #3f37c9 80%);
}

/* Section 4 color pallete */
/* https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
.section4 {
  height: 115vh
}

.section5 {
  height: 115vh
}

$grad1: #FAA307;
$grad2: #F48C06;
$grad3: #E85D04;
$grad4: #dc2f02;
$grad5:#d00000;
