@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caprasimo&family=Concert+One&family=Noto+Serif+Makasar&display=swap');

p {
  padding:0;
  margin:0;
}

// TODO: fix up the flexboxes, clear up naming / remove redundant
div.flexbox-low {
  position: absolute;
  // bottom: 30%; 
  top:20%;
  left: 2%;
  display: flex;
  overflow-wrap: break-word;
  justify-content: space-around;
  align-items: baseline;
  width:95%;
}


div.flexbox-high {
  position: absolute;
  top:20%;
  left: 2%;
  display: flex;
  padding: 0;
  overflow-wrap: break-word;
  justify-content: space-around;
  width:100%;
}

div.flexbox-veryhigh {
  position: absolute;
  left: 2%;
  display: flex;
  overflow-wrap: break-word;
  justify-content: space-between;
  width:95%;
}

h1.greeting_subhead {
  font-family: 'Abril Fatface', serif; 
  // font-size: min(8vh, 4vw);
  font-size:30px;
  @media (min-width: 750px) {
    font-size: 4vw
  }
  // max-width: fit-content;
  margin-top: 10px;
  margin:0;
  padding: 0;
}

div.greeting_title {
  padding: 0;
}

$section-height: 115vh; 

section {
  height: 110vh;
  position: relative;
  overflow: hidden;
  min-height: 750px;
}

.section1 {
  $bg-color:  #fff8e5;
  background-color: $bg-color;
  height: 100vh;
}

section p {
  margin-top: 90px;
  margin-left: 20px;
  width:500px;
  word-wrap: break-word;
  overflow-wrap: break-word; 
}

.welcome_paragraph {
  font-size: 20px;
  @media (min-width: 1000px) {
    font-size:2vw;
  }

  color:  hsl(44, 65%, 80%);
  font-family: 'Abril Fatface', serif;
}

.section2 {
  $section2-color: #D72523;
  $hue: hue($section2-color);
  $sat: saturation($section2-color);
  $lit: lightness($section2-color);
  height: 105vh;
  background: linear-gradient(180deg, $section2-color 0%, hsl($hue, $sat, 1.25*$lit) 80%);
}

.info_para {
  font-size:12pt;
  max-width: 28rem;
  @media (max-width: 1175px) {
    font-size:8pt;
    max-width: 18rem;
  }
  font-family: 'Noto Serif Makasar', serif;
}

div.about-text-wrapper{
  display:flex;
  max-width: 80%;
  align-items: baseline;
}

div.aboutpics {
  align-self: center;
  max-width:40%;
  min-width: 15rem;
}

div.aboutpics > img {
  width:100%;
  height:auto;
  object-fit: contain;
  filter: drop-shadow(7px 7px 0 hsl(1, 30%, 10%));
}

.section3 {
  $section3-color: #FF9C1A;
  $hue: hue($section3-color);
  $sat: saturation($section3-color);
  $lit: lightness($section3-color);
  height: 115vh;
  background: linear-gradient(180deg, $section3-color 0%, $section3-color 1%, hsl($hue, $sat, 1.25*$lit) 50%);
}

.experience-card-carousel {
  padding: 0em;
  height: 27rem;
}


$section4-color:#2F6D83;
.section4 {
  $hue: hue($section4-color);
  $sat: saturation($section4-color);
  $lit: lightness($section4-color);
  color:hsl(214, 88%, 9%);
  height: 115vh;
  // background: linear-gradient(180deg, $section4-color 0%,  #469ab9 50%);
  background: linear-gradient(180deg, $section4-color 0%, $section4-color 1%, hsl($hue, $sat, 2*$lit) 80%);
}

$section5-color: #588157;
.section5 {
  $hue: hue($section5-color);
  $sat: saturation($section5-color);
  $lit: lightness($section5-color);
  height: 115vh;
  background: linear-gradient(180deg, $section5-color 0%, $section5-color 1%, hsl($hue, $sat, 1.25*$lit) 80%);
}

p.contact_message{
  font-family: 'Abril Fatface', serif; 
  font-size: 20pt;
  color:#c5d4c4;
  margin:0;
  padding:0;
}

$section6-accent: #1b4757;
.section6 {
  color:$section6-accent;
  height: 50vh;
  background-color: #000814;
  overflow: hidden;
}

div.end-flexbox {
  display:flex;
  justify-content: space-between;
  height: 50vh;
}

div.copyright {
  position: relative;
  width: 20%;
}

div.copyright p {
  position: absolute;
  bottom: 3%;
}

$grad1: #FAA307;
$grad2: #F48C06;
$grad3: #E85D04;
$grad4: #dc2f02;
$grad5:#d00000;

