html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

mark {
  margin: 0 -0.4em;
  color: hsl(214, 88%, 9%);
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 217, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3) 95%,
    rgba(255, 225, 0, 0)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

strong {
  font-weight: 900;
}
